/* DEFAULTS */

body {
  margin: 0;
  padding: 0;
  background-color: #FCFCFC;
}

.container {
  width: 65%;
  margin: 0 auto;
}

/* HEADER */

header {
  height: 120px;
  width: 435.31px;
  margin: auto;
  padding: 25px 0 50px;

}

img {
  float: left;
  max-height: 120px;
  max-width: 120px;
}

h1 {
  display: inline-block;
  font-family: impact, sans-serif;
  font-size: 4em;
  padding-left: 20px;
}

/* INPUTS */

h2 {
  display: inline-block;
  padding-right: 5px;
}

input {
  width: 60px;
  height: 20px;
}

.inputs {
  width: 400px;
  margin: 0 auto;
}

p {
  display: inline-block;
  padding-left: 3px;
}

/* BUTTONS */

button {
  display: inline-block;
  margin-right: 7px;
  background-color: #CCD2D4;
  padding: 10px 15px;
  border: none;
  color: white;
  font-size: 15px;
}

button:hover {
  cursor: pointer;
}

.buttons {
  width: 300px;
  margin: 0 auto;
  padding-top: 30px;
}

/* ERROR MESSAGE */

#message {
  font-size: 15px;
  width: 100%;
  padding-top: 10px;
  text-align: center;
}

.error {
  color: red;
}

.success {
  color: green;
}