body {
  padding: 0;
  margin: 0;
  width: 200px;
  background-color: #FFFFFF;
}

.container {
  width: 150px;
  margin: 0 auto;
}

img {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

h1 {
  font-family: impact, sans-serif;
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  border: none;
  color: white;
  font-size: 15px;
}

button:hover {
  cursor: pointer;
}

.disable {
  background-color: #f44336;
}

.enable {
  background-color: green;
}

a {
  display: block;
  color: #908b8b;
  text-decoration: none;
  text-align: center;
  /*margin: 0 auto;*/
}